<div class="qr-list">
  <div class="header">
    <h1>My QR Codes</h1>
    <button mat-flat-button color="primary" routerLink="/home/qr-create">
      <mat-icon>add</mat-icon>
      Create New
    </button>
  </div>
  <div class="grid">
    @for (qr of qrCodes(); track qr.id) {
    <mat-card appearance="outlined" class="qr-card">
      <mat-card-header>
        <mat-card-title>{{ qr.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="qr-preview">
          <qrcode [qrdata]="qr.slugUrl!" [width]="256" [errorCorrectionLevel]="'M'" [colorDark]="qr.foregroundColor"
            [colorLight]="qr.backgroundColor" [imageSrc]="qr.logoUrl" />
        </div>
        <!-- <p>{{ qr.slugUrl }}</p> -->
      </mat-card-content>
      <mat-card-actions>
        <button style="margin:auto;margin-top: 8px;" mat-flat-button color="primary"
          [routerLink]="['/home/qr-details', qr.id]">
          <!-- <mat-icon>visibility</mat-icon> -->
          View Details
        </button>
      </mat-card-actions>
    </mat-card>
    } @empty {
    <p>No QR codes found.</p>
    }
  </div>
</div>